.cards {
  /* border: 2px dotted rgb(96 139 168); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.cards > * {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);
  align-self: center;
  height: 200px; 
  width: 200px;
  padding: 1% 1% 0 1%;
  margin: 1%;
}