.container {
    display: grid;
    gap: 3%;
    height: 90vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "box1 box2 box2 box4"
    "box1 box3 box5 box4"
    "box6 box6 box5 box7"
    "box6 box6 box9 box9";
}

.container .box {
    background-color: rgb(27, 97, 120);
    border-radius: 5px;
    min-height: 100px;
}